<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理页面</title>
    <link rel="stylesheet" href="./stylesheets/lol.css">
    <script src="/javascripts/jquery.min.js"></script>
</head>

<body>

    <div class="z">
        用户名:
        <input type="text" id="queryInput" class="queryInput"> 
        <button class="departName" id="departName">查询</button>
        <a href="#" id="qk" class="qk">清空</a>
        
    </div>

    <div>
        <ul class="dier">
            <button class="add" id="margin" onclick="alert()">文本管理页面</button>
        </ul>
    </div>

    <div class="pa">
        <table border="1" class="biao" id="biao">
            <tr style="height: 50px">
                <th>id</th>
                <th>用户名</th>
                <th>密码</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            <tr  id="biao">
                <form  method="POST" action="/begin">
                    <% data.forEach((o,i)=>{%>
                        <tr>
                                <td><%=o.id%></td>
                                <td><%=o.regname%></td>
                                <td><%=o.regpass%></td>
                                <td><%=o.create_time%></td>
                                
                                <td>
                                <button type="button" class="c3  delete" id="delete" data-id=<%=o.id %> >删除</button>
                                </td>
                        </tr>
                        
                             <% }) %>
                
                </form>
            </tr>
        </table>
    </div>
    <!-- <script src="/javascripts/lol.js"> -->
    
    </script>
    <script src="/javascripts/test.js"></script>
</body>

</html>