<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>后台管理页面</title>
		<link rel="stylesheet" href="./stylesheets/lol.css">
		<link rel="stylesheet" href="/stylesheets/begin/common.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/begin/about.css"/>
		<script src="/javascripts/jquery.min.js"></script>
	</head>
	<body>
		<div class="head fix">
			<div class="t1 fix">
				<div class="tl">后台管理页面</div>
				<div class="tr">
					<ul class="ur">
						<li><a href="/begin">用户管理</a></li>
						<li><a href="/begin2">日志管理</a></li>
						<li><a href="archive.html">用户详情</a></li>
						<li><a href="tags.html">评论管理</a></li>
						<li><a href="works.html">WORKS</a></li>
					</ul>
				</div>
			</div>
			
			<div class="tt">
				<div class="t2">日志内容管理</div>
				
			</div>
			
		</div>
		<div>
			<div class="z">
				作者：
				<input type="text" id="queryInput" class="queryInput"> 
				<button class="departName" id="departName">查询</button>     
			</div>
			
			
			<div class="pa">
				<!-- <table  border="1" class="biao" id="biao">
					<tr style="height: 50px" >
						<th>作者</th>
						<th>文本内容</th>
						<th>创作时间</th>
						<th>评论</th>
						<th>操作</th>
					</tr>
					
					<% data.forEach((value,i)=>{%>
					<tr id="biao">
						<td>${value.writer}</td>
						<td>${value.txt}</td>
						<td>${value.create_time}</td>
						<td>${value.comment}</td>
						
						<td><a href="/begin2/toUpdate/${value.id}">修改</a></td>
					</tr>
					
					 <% }) %>
				</table> -->
				<table border="1" class="biao" id="biao">
					<tr style="height: 50px">
						<th>作者</th>
						<th>文本内容</th>
						<th>创作时间</th>
						<th>评论</th>
						<th>操作</th>
					</tr>
					<tr  id="biao">
						<form  method="POST" action="/begin">
							<% data.forEach((o,i)=>{%>
								<tr>
										
										<td><%=o.writer%></td>
										<td><%=o.txt%></td>
										<td><%=o.create_time%></td>
										<td><%=o.comment%></td>
										
										<td>
										<button type="button" class="c3  update" id="update" data-id=<%=o.id %> >修改</button>
										</td>
								</tr>
								
									 <% }) %>
						
						</form>
					</tr>
				</table>
			</div>
		  </div>
		  <script src="/javascripts/test.js"></script>
	</body>
</html>
